:root {
    --casa-largura: min(11vw, 16vh, 100px); /* Largura de uma casa na tela (cresce com a janela, até 100px) */
}

body {
    background-color: #fffcf0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#tabuleiro {
    position: relative;
    width: calc(var(--casa-largura) * 8);
    height: calc(var(--casa-largura) * 4);

     /* espaço para as peças do fundo */
    margin-top: calc(var(--casa-largura) * 0.9);    
}

.casa {
    position: absolute;

    /* +1px evita frestas */
    width: calc(var(--casa-largura) + 1px);
    
    /* losango 2:1 */
    height: calc(var(--casa-largura) / 2 + 1px);  

    /* posição isométrica a partir de --col e --lin obtidas em Casa.tsx */
    left: calc((var(--col) - var(--lin) + 7) * var(--casa-largura) / 2);
    top:  calc((var(--col) + var(--lin))     * var(--casa-largura) / 4);

    /* quem está mais à frente cobre quem está atrás */
    z-index: calc(var(--col) + var(--lin));

    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.casa-branca { 
    background-image: url("./assets/casas/casaBranca.png"); 
}

.casa-preta  { 
    background-image: url("./assets/casas/casaPreta.png"); 
}

.peca {
    --altura-rel: 0.5;   /* altura da peça, em frações da largura da casa */

    position: absolute;
    left: 50%;
    bottom: 40%;

    height: calc(var(--casa-largura) * var(--altura-rel));
    width: auto;   /* mantém a proporção do desenho */

    object-fit: fill;
    image-rendering: pixelated;

    transform: translateX(-50%);
    pointer-events: auto;
}

.peca[data-tipo="k" i]    { --altura-rel: 0.77; }
.peca[data-tipo="q" i]   { --altura-rel: 0.77; }
.peca[data-tipo="b" i]  { --altura-rel: 0.63; }
.peca[data-tipo="c" i] { --altura-rel: 0.55; }
.peca[data-tipo="t" i]  { --altura-rel: 0.57; }

.peca:hover {
    transform: translateX(-50%) translateY(-6%);
}
